html, body {
  height: 100%;
  margin: 0;
}
.menu-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  background-color: #3f51b5; /* Blue background */
  color: white; /* White text */
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  background-color: #f4f4f4; /* Light background */
}

mat-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}