/* footer.component.css */
.footer {
    background-color: #3f51b5; /* Blue background */
    color: white;
    padding: 20px 0;
    position: relative;
    width: 100%;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-links {
    margin-top: 10px;
  }
  
  .footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    cursor: pointer;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  