<!-- Only display header if it's not a login or not-found page -->
<app-header *ngIf="!isLoginPage() && !isNotFoundPage()"></app-header>

<!-- Show Sidenav Container for Login Page -->
<mat-sidenav-container *ngIf="isLoginPage()">
  <router-outlet></router-outlet>
</mat-sidenav-container>

<!-- Only display footer if it's not a login or not-found page -->
<app-footer *ngIf="!isLoginPage() && !isNotFoundPage()"></app-footer>

<!-- Show Not Found Page if route is not recognized -->
<app-notfoundpage *ngIf="isNotFoundPage()"></app-notfoundpage>
