<mat-card>
    <mat-card-header>
      <mat-card-title>Privacy Policy</mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
      <!-- You can dynamically bind privacy policy content here -->
      <p *ngIf="privacyPolicyText; else loadingTemplate">
        {{ privacyPolicyText }}
      </p>
  
      <!-- Show loading message while fetching data -->
      <ng-template #loadingTemplate>
        <p>Loading privacy policy...</p>
      </ng-template>
    </mat-card-content>
  </mat-card>
  