<mat-card>
    <mat-card-header>
      <mat-card-title>Dashboard</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="card-container">
        <mat-card class="user-card">
          <mat-card-header>
            <mat-card-title>Total Users</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>{{ totalUsers }}</p>
          </mat-card-content>
        </mat-card>
  
        <mat-card class="user-card">
          <mat-card-header>
            <mat-card-title>Android Users</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>{{ androidUsers }}</p>
          </mat-card-content>
        </mat-card>
  
        <mat-card class="user-card">
          <mat-card-header>
            <mat-card-title>iOS Users</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>{{ iosUsers }}</p>
          </mat-card-content>
        </mat-card>
  
        <mat-card class="user-card">
          <mat-card-header>
            <mat-card-title>Web Users</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>{{ webUsers }}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-card-content>
  </mat-card>
  